secretSeed: {{ .Values.secretSeed | quote }}
secretOverrides: {{ index .Values "secretOverrides" | default dict | toYaml | nindent 2 }}
domain: {{ .Values.domain | quote }}

hosts:
  app: {{ printf "https://%s" .Values.domain | quote }}
  api: {{ printf "https://%s/api" .Values.domain | quote }}
  events: {{ printf "wss://%s/ws" .Values.domain | quote }}
  autumn: {{ printf "https://%s/autumn" .Values.domain | quote }}
  january: {{ printf "https://%s/january" .Values.domain | quote }}
  {{- if .Values.livekit.enabled }}
  livekit: {{ printf "wss://livekit.%s" .Values.domain | quote }}
  {{- else }}
  livekit: ""
  {{- end }}
  {{- if .Values.apps.gifbox.enabled }}
  gifbox: {{ printf "https://%s/gifbox" .Values.domain | quote }}
  {{- end }}

gifbox:
  enabled: {{ .Values.apps.gifbox.enabled | default false }}
  tenorKey: {{ index .Values.apps.gifbox "tenorKey" | default "" | quote }}

mongodb:
  host: {{ .Values.mongodb.host | quote }}
  port: {{ .Values.mongodb.port }}

redis:
  host: {{ .Values.redis.host | quote }}
  port: {{ .Values.redis.port }}

rabbitmq:
  host: {{ .Values.rabbitmq.host | quote }}
  port: {{ .Values.rabbitmq.port }}

s3:
  endpoint: {{ .Values.s3.endpoint | quote }}
  region: {{ if eq .Values.s3.provider "minio" }}"minio"{{ else }}{{ .Values.s3.region | default "us-east-1" | quote }}{{ end }}
  defaultBucket: "revolt-uploads"

smtp:
  host: {{ .Values.smtp.host | default "" | quote }}
  port: {{ .Values.smtp.port | default 25 }}
  username: {{ .Values.smtp.username | default "" | quote }}
  password: {{ .Values.smtp.password | default "" | quote }}
  fromAddress: {{ .Values.smtp.fromAddress | default "" | quote }}
  replyTo: {{ .Values.smtp.replyTo | default "" | quote }}
  useTls: {{ .Values.smtp.useTls | default false }}
  useStarttls: {{ .Values.smtp.useStarttls | default false }}

vapid:
  privateKey: {{ .Values.vapid.privateKey | default "" | quote }}
  publicKey: {{ .Values.vapid.publicKey | default "" | quote }}

files:
  encryptionKey: {{ .Values.files.encryptionKey | default "" | quote }}

apps:
  api:
    webhooks: {{ if .Values.apps.api.enabled }}{{ if hasKey .Values.apps.api "webhooks" }}{{ .Values.apps.api.webhooks }}{{ else }}true{{ end }}{{ else }}false{{ end }}

ingress:
  className: {{ .Values.ingress.className }}

tls:
  issuer: {{ .Values.tls.issuer | quote }}
{{- if eq .Values.tls.issuer "letsencrypt" }}
  email: {{ .Values.adminEmail | quote }}
{{- end }}
